<div class="header bg-cyan-400">
  <div class="content">
    <h1 class="text-2xl font-bold">NEWS PORTAL</h1>
    <div class="card flex justify-content-center">
      <p-button
        (click)="showDialog()"
        icon="pi pi-external-link"
        label="Add News"
      ></p-button>
      <p-dialog
        header="Header"
        [(visible)]="visible"
        [modal]="true"
        [style]="{ width: '50vw' }"
        [draggable]="false"
        [resizable]="false"
      >
        <app-modal></app-modal>
      </p-dialog>
    </div>
  </div>
</div>
